*
!*/
!*.gitignore


!*.fxml
!*.properties
cache.properties
version.properties
!*.java
!*.jar
!*.css
!*.html
!web.xml
!VGSbuild.xml
!*.frag
!*.j3md
!*.vert
!*.j3m
!*.j3sn
!*.cpp
!*.h
!*.ico
!*.launch
!*.gwt.xml
!*/nbproject/*
!*.txt
!*.zip
!VGSAnnotationConfig.xml
!GeoLiteCity.dat
!*.png
!build.gradle
!settings.gradle
!gradle.properties
!*.xml
!MANIFEST.MF
!*.fnt
!*.png
!*.glsllib
!*.cfg
!*.properties
!*.xsd
!*.jnlp
!*.store

.sonar/
hosted.html
cache.html
.settings
*/*.cache.html
*/generated/*
*/out_gen/*
*/src/test/*
*/test-data/*
*/.gitignore
*/dist/*
*/build/*
*/*.cache.html
*/generated/*
classes/
/war/

!*.dummy
*/bin/*

.gradle/
build/
libs/jme3/test-data
libs/jme3/town.zip
libs/jme3/wildhouse.zip
!libs/jme3/.svn/*
!*.svn-base

--for stupid egit
*.project
*.classpath
*.so
jme3/lib
*.dll
*.jnilib
bin
war
logger_config.xml
data.db
data.db.properties
data.db.script
networkProfile.xml
.gwt-log
